language: python
python:
  - 2.7
install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt
  - pip install coveralls
script:
  - coverage run --source=flask_dance runtests.py
after_success:
  - coveralls
