# documentation tools
sphinx
sphinxcontrib-napoleon
sphinxcontrib-seqdiag
# testing tools
pytest
pytest-cov
mock
responses
# testing sqlalchemy support
sqlalchemy>=0.9
sqlalchemy_utils
flask-sqlalchemy
# testing integration with other extensions
flask-login
flask-cache
