# documentation tools
sphinx
sphinxcontrib-napoleon
# testing tools
mock
responses
# testing signals
blinker
# testing sqlalchemy support
sqlalchemy>=0.9
sqlalchemy_utils
flask-sqlalchemy
# testing integration with other extensions
flask-login
flask-cache
