# documentation tools
sphinx>=1.3
# sphinxcontrib-aafig:
# until https://bitbucket.org/birkenfeld/sphinx-contrib/pull-request/64 merges,
# we need to use a version on bitbucket
setuptools>=14.3
-e hg+https://bitbucket.org/espd/sphinx-contrib#egg=sphinxcontrib_aafig&subdirectory=aafig
# testing tools
mock
responses
# testing sqlalchemy support
sqlalchemy>=0.9
sqlalchemy_utils
flask-sqlalchemy
# testing integration with other extensions
flask-login
flask-cache
