sphinx>=1.3
sphinxcontrib-seqdiag
# sphinxcontrib-spelling
git+https://github.com/singingwolfboy/spelling.git@more-contractions#egg=sphinxcontrib_spelling
Flask-Sphinx-Themes

# code dependencies, needed for imports
sqlalchemy>=0.9
sqlalchemy-utils
